@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;

0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header .bg-top {
  background-color: #0282F9;
}

header .bg-blue {
  max-width: 1170px;
  margin: auto;
  height: 30px;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
}

header .bg-blue .additional {
  margin-left: 16px;
}

header nav {
  max-width: 1170px;
  margin: 0 auto;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  text-transform: uppercase;
  font-weight: 800;
  margin: 0 8px;
}

header nav ul li a {
  color: #434343;
  text-decoration: none;
}

header nav ul li a.active,
header nav ul li a:hover {
  color: #0282F9;
}

header nav .cerca {
  font-weight: 600;
}

header .jumbotron {
  height: 500px;
  width: 100%;
  position: relative;
}

header .jumbotron img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

header .jumbotron .container {
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

header .jumbotron .container .absolute {
  height: 40px;
  width: 150px;
  background-color: #0282F9;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  bottom: -15px;
  left: 200px;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.container {
  background-color: #1C1C1C;
}

.container .comics {
  max-width: 1170px;
  margin: 0 auto;
  padding: 64px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container .comics .comic {
  height: 300px;
  margin: 8px;
  width: calc(100% / 6 - 32px);
}

.container .comics .comic img {
  width: 100%;
  padding: 4px;
}

.container .comics .comic p {
  color: #fff;
}

.container .comics .button {
  background-color: #0282F9;
  width: 200px;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.bg-blue {
  background-color: #0282F9;
  height: 140px;
}

.bg-blue .center {
  height: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-blue .center .icon {
  height: 80px;
  display: flex;
  align-items: center;
  margin: 0 16px;
}

.bg-blue .center .icon img {
  height: 50px;
}

.bg-blue .center .icon .svg {
  height: 30px;
}

.bg-blue .center .icon p {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  margin-left: 16px;
}

footer {
  height: 400px;
}

footer .container-footer {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

footer .container-footer .bg-lists {
  width: 50%;
  height: 100%;
}

footer .container-footer .bg-logo {
  position: absolute;
  right: 0;
  top: -25%;
}

footer .final-info {
  height: 100px;
  background-color: #1C1C1C;
}

body {
  font-family: "Lato", sans-serif;
}

