header {
    .bg-top {
        background-color: $electric-blue;
    }
    .bg-blue {
        max-width: $max-w;
        margin: auto;
        height: 30px;
        color: $txt-white;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 12px;
        .additional{
            margin-left: 16px;
        }
    }

    nav {
        max-width: $max-w;
        margin: 0 auto;
        height: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul {
            list-style: none;
            display: flex;
            li {
                text-transform: uppercase;
                font-weight: 800;
                margin: 0 8px;
                a {
                    color: $txt-black;
                    text-decoration: none;
                    &.active,
                    &:hover {
                        color: $electric-blue;
                    }
                }
            }
        }
        .cerca {
            font-weight: 600; 
        }
    }
    .jumbotron {
        height: 500px;
        width: 100%;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
        .container {
            max-width: $max-w;
            margin: 0 auto;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            .absolute {
                height: 40px;
                width: 150px;
                background-color: $electric-blue;
                text-transform: uppercase;
                font-weight: 700;
                position: absolute;
                bottom: -15px;
                left: 200px;
                transform: translate(-50%, 0);
                display: flex;
                justify-content: center;
                align-items: center;
                color: $txt-white;
            }
        }
    }
}